<footer class="text-center bg-body-tertiary">
    <!-- Grid container -->
    <div class="container pt-4 footer-text-styles">
        <!-- Section: Social media -->
        <section class="mb-4">
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="bi bi-facebook"></i></a>

            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="bi bi-twitter"></i></a>

            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="bi bi-google"></i></a>  

            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>

            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="bi bi-linkedin"></i></a>
            
            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="bi bi-github"></i></a>
        </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3 footer-bg footer-text-styles">
        <div>© 2020 Copyright: TYJ Tank</div>
    </div>
</footer>