
<header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="#">TYJ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <div class="nav-link-section">
                            <a class="nav-link" routerLinkActive="/" routerLink="/">Home</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link-section">
                            <a class="nav-link" routerLinkActive="active" routerLink="/education">Education</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link-section">
                            <a class="nav-link" routerLinkActive="active" routerLink="/experience">Experience</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link-section">
                            <a class="nav-link" routerLinkActive="active" routerLink="/projects">Projects</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link-section">
                            <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link-section">
                            <a class="btn btn-primary" [href]="downloadResume">Resume <i class="bi bi-download"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>