<!-- Hero -->
<div class="hero">
    <div class="container">
        <h1>About</h1>
    </div>
</div>

<!-- Short Intro -->
<div class="container short-intro">
    <div class="row my-4" id="about-me">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white">About me</h1>
            <h1 class="position-absolute text-uppercase">Who am I?</h1>
        </div>
        <div class="col-md-4">
            <embed src="../../assets/imaages/20603157_6334180.svg" class="svg-embed" type="image/svg+xml">
        </div>
        <div class="col-md-8 intro-text">
            <p class="card-text">A self-driven Java Full-Stack Engineer, I weave code into solutions that elevate user
                experiences and
                empower businesses. With 6 months of hands-on expertise, I navigate the tech landscape with a passion
                for Microservices, Spring Boot, and data-driven insights.</p>
            <p class="card-text">A self-driven Java Full-Stack Engineer, I weave code into solutions that elevate user
                experiences and
                empower businesses. With 6 months of hands-on expertise, I navigate the tech landscape with a passion
                for Microservices, Spring Boot, and data-driven insights.</p>
        </div>
    </div>

    <div class="row my-4" id="education">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white">Academic Background</h1>
            <h1 class="position-absolute text-uppercase">Education</h1>
        </div>
        <div class="row">
            <div class="border-left border-primary pt-2 pl-4 ml-2">
                <div class="position-relative mb-4 justify-content-center">
                    <i class="bi bi-mortarboard-fill position-absolute" style="top: 2px; left: -32px;"></i>
                    <h5 class="font-weight-bold mb-1">Master of Commputer Applications <strong>(MCA)</strong></h5>
                    <p class="mb-2"><strong>Dr. Subhash Technical Campus (Gujarat Technological University) </strong> |
                        <small>June, 2022</small></p>
                    <p>Relevant coursework: Distributed Systems, Advanced Java Programming, Database Management Systems.
                    </p>
                </div>
                <div class="position-relative mb-4">
                    <i class="bi bi-mortarboard-fill position-absolute" style="top: 2px; left: -32px;"></i>
                    <h5 class="font-weight-bold mb-1">Bachelor in Computer Applications <strong>(BCA)</strong></h5>
                    <p class="mb-2"><strong> Swami Shree Dharmajivandasji Institute of Information Technology (Bhakta
                            Kavi Narsinh Mehta University) </strong> | <small>August, 2020</small></p>
                    <p>Empowered diverse clients with seamless live broadcasting experiences through innovative
                        solutions and exceptional client communication.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4" id="education">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white">Quality</h1>
            <h1 class="position-absolute text-uppercase">Skills</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">HTML</h6>
                        <h6 class="font-weight-bold">95%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">CSS</h6>
                        <h6 class="font-weight-bold">85%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">PHP</h6>
                        <h6 class="font-weight-bold">90%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Javascript</h6>
                        <h6 class="font-weight-bold">90%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Angular JS</h6>
                        <h6 class="font-weight-bold">95%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Wordpress</h6>
                        <h6 class="font-weight-bold">85%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>