<!-- Hero -->
<yt-hero hero-title="Experience"></yt-hero>

<!-- Short Intro -->
<div class="container short-intro">

    <div class="row my-4" id="experiences">
        <master-titles title-shadow="professional career" title-over="Experience"></master-titles>
        <div class="row">
            <div class="border-left border-primary pt-2 pl-4 ml-2">
                <div class="position-relative mb-4">
                    <i class="bi bi-balloon-fill position-absolute" style="top: 2px; left: -32px;"></i>
                    <h5 class="font-weight-bold mb-1">Jr. Software Engineer</h5>
                    <p class="mb-2"><strong>DataCrops Software Pvt Ltd </strong> | <small>April, 2023</small></p>
                    <p>Leveraged Java, Spring Boot, and Microservices architectures to meticulously design, develop, and
                        deploy high-performance web applications for DataCrops, fostering business growth and user
                        satisfaction.</p>
                    <ul>
                        <li>Architected and engineered a robust, scalable web application using Microservices,
                            efficiently handling large data volumes and delivering real-time results.</li>
                        <li>Spearheaded the development of a competitive product information extraction system,
                            empowering businesses with valuable insights for strategic decision-making.</li>
                        <li>Implemented subscription plans that generated recurring revenue, contributing to company's
                            financial stability and sustainable growth.</li>
                        <li>Enhanced application scalability to accommodate a thriving user base, boosting user
                            engagement and driving revenue growth.</li>
                        <li>Championed Agile methodologies within cross-functional teams, ensuring seamless integration
                            and efficient project delivery.</li>
                    </ul>
                </div>
                <div class="position-relative mb-4">
                    <i class="bi bi-balloon-fill position-absolute" style="top: 2px; left: -32px;"></i>
                    <h5 class="font-weight-bold mb-1">Jr. Streaming Engineer</h5>
                    <p class="mb-2"><strong>Epitome Solutions Pvt Ltd</strong> | <small>December, 2021 - September,
                            2022</small></p>
                    <p>Empowered diverse clients with seamless live broadcasting experiences through innovative
                        solutions and exceptional client communication.</p>
                    <ul>
                        <li>Developed and maintained an AngularJS-based live broadcasting platform for various sectors,
                            including education, corporate events, and AGMs.</li>
                        <li>Customized open broadcasting software (OBS) to optimize performance and cater to specific
                            client needs, ensuring a smooth and engaging live streaming experience.</li>
                        <li>Demonstrated exceptional collaboration and communication skills, fostering successful
                            teamwork and exceeding client expectations throughout project execution.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>