.master-title {
    margin: 1.5rem;
}

.display-1 {
    -webkit-text-stroke: 1px rgba(4, 18, 37, 0.3);
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
}

.front-title {
    font-weight: 600;
}