<!-- Hero -->
<yt-hero hero-title="Projects"></yt-hero>

<!-- Short Intro -->
<div class="container short-intro">

    <div class="container">
        <div class="row my-4" id="education">
            <master-titles title-shadow="Practical Work" title-over="Projects"></master-titles>
        </div>
    </div>
    <div class="row my-4" id="experiences">
        <div class="row my-4 d-flex justify-content-between">
            <div class="card mb-4 achievements-card">
                <!-- <img src="../../assets/imaages/achievements/DJ4E-VT9DWX8CEP4Y.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Python for Everybody Specialization on Coursera by University of Michigan 2023 [5ZHG2JG4V535]</p>
                </div> -->
            </div>
        </div>
    </div>

</div>