<!-- Hero -->
<yt-hero hero-title="Contact"></yt-hero>

<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mr-auto">
                <h2>Get in touch</h2>
                <p class="mb-5">Coffee fuels my passion, and connecting with inspiring people like you sparks my
                    creativity. Let's grab a cup and explore the possibilities!</p>

                <ul class="list-unstyled pl-md-5 mb-5">
                    <!-- <i class="fa-sharp fa-solid fa-envelope"></i> -->
                    <li class="d-flex text-black"><span class="contact-icon"><i
                                class="bi bi-geo-fill"></i></span>Ahmedabad, Gujarat, Bharat (India)</li>
                    <li class="d-flex text-black"><span class="contact-icon"><i class="bi bi-telephone"></i></span><a
                            href="tel:+917984248787">{{ contactDetails.NUMBER }}</a></li>
                    <li class="d-flex text-black"><span class="contact-icon"><i
                                class="bi bi-envelope"></i></span>yashtank09@gmail.com </li>
                </ul>
            </div>

            <div class="col-md-6">
                <form id="contactForm" [formGroup]="contactMeForm" (ngSubmit)="sendEmail()">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" formControlName="contactName" class="form-control" name="name" id="name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="subject" class="col-form-label">Subject</label>
                            <input type="text" formControlName="contactSubject" class="form-control" name="subjcet" id="subject">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="email" formControlName="contactEmail" class="form-control" name="email" id="email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message" class="col-form-label">Message</label>
                            <textarea class="form-control" formControlName="contactMessage" name="message" id="message" cols="30" rows="7"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 contact-btn-submit">
                            <button type="submit" class="btn btn-primary rounded-0 py-2 px-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>