article {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 40px;
  padding-block: 32px;
}
article + article {
  border-top: 1px solid var(--line);
}
.date {
  color: var(--muted);
  position: relative;
  padding-top: 4px;
}
.date:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: var(--accent);
  border-radius: 50%;
  right: 0;
  top: 9px;
}
.company {
  color: var(--accent);
  font-size: 14px;
  margin-block: 9px 22px;
}
ul {
  color: var(--muted);
  padding-left: 18px;
  font-size: 14px;
  margin-bottom: 0;
}
li {
  padding-left: 5px;
  margin-bottom: 12px;
}
@media (max-width: 650px) {
  article {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .date:after {
    display: none;
  }
  h3 {
    font-size: 25px;
  }
}
