<!-- Hero -->
<div class="hero">
    <div class="container">
        <h1>Yash Tank</h1>
        <h2>Passionate <span>Software Developer</span> elevating the future horizon.</h2>
    </div>
</div>

<!-- Introduction -->
<div class="introduction" id="introduction">

    <div class="container">
        <div class="row my-4" id="education">
            <master-titles title-shadow="Introducing My Self" title-over="About Me"></master-titles>
        </div>
    </div>
    <div class="container">
        <div class="row my-4" id="about-me">
            <div class="col-md-4">
                <embed src="../../assets/imaages/20603157_6334180.svg" class="svg-embed" type="image/svg+xml">
            </div>
            <div class="col-md-8 intro-text">
                <p class="card-text">A self-driven Java Full-Stack Engineer, I weave code into solutions that elevate
                    user
                    experiences and empower businesses.
                    With 6 months of hands-on expertise, I navigate the tech landscape with a passion for Microservices,
                    Spring Boot, and data-driven insights.</p>
            </div>
        </div>
    </div>

</div>

<!-- What I do? -->
<div class="services" id="myServices">
    <div class="container">
        <div class="row my-4" id="education">
            <master-titles title-shadow="Actual Working" title-over="What I do?"></master-titles>
        </div>
    </div>
    <div class="service-body">
        <div class="container">
            <div class="row my-4">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-database-fill-gear"></i></div>
                    <h4 class="title"><span>Web Development</span></h4>
                    <p class="description">Full-stack Java development with Spring-boot MVC, REST APIs and Microservices
                        Architecture, Java Automation and Multi Threading.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-file-earmark-code"></i></div>
                    <h4 class="title"><span>Web Designing</span></h4>
                    <p class="description">Desing web applicaiton user friendly with AngularJS, HTML/CSS and SEO (Search
                        Engine Optimization).</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-box-fill"></i></div>
                    <h4 class="title"><span>Technical Consulting</span></h4>
                    <p class="description">Consulting for any of the tech related queries and suggetions.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- My Skills -->
<div class="skills" id="skills">

    <div class="container">
        <div class="row my-4" id="education">
            <master-titles title-shadow="Quality" title-over="Skills"></master-titles>
        </div>
    </div>

    <!-- Skills -->
    <div class="container">
        <div class="row my-4">
            <div class="my-auto">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col-md-10">
                        <ul class="list-inline list-icons mb-4">
                            <li class="list-inline-item">
                                <i class="devicon-java-plain colored" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-title="Java"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-azuresqldatabase-plain colored" title="SQL"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-spring-original colored" title="spring"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-angularjs-plain colored" title="AngularJS"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-html5-plain colored" title="HTML5"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-css3-plain colored" title="CSS3"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-javascript-plain colored" title="JavaScript"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-jquery-plain colored" title="jQuery"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-bootstrap-plain colored" title="Bootstrap 4"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-vscode-plain colored" title="VS Code"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-intellij-plain colored" title="Intellij"></i>
                            </li>

                            <li class="list-inline-item">
                                <i class="devicon-github-plain colored" title="Github"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" id="skill-bars">

                <p class="text-left">Java - 75%</p>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0"
                        aria-valuemax="100" style="width: 75%"></div>
                </div>

                <p class="text-left">SQL - 70%</p>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0"
                        aria-valuemax="100" style="width: 70%"></div>
                </div>

                <p class="text-left">AngularJS - 80%</p>
                <div class="progress mb-5">
                    <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0"
                        aria-valuemax="100" style="width: 80%"></div>
                </div>

            </div>

            <div class="col-md-6" id="skill-bars">

                <p class="text-left">SpringBoot - 60%</p>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0"
                        aria-valuemax="100" style="width: 60%"></div>
                </div>

                <p class="text-left">HTML/CSS - 80%</p>
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0"
                        aria-valuemax="100" style="width: 80%"></div>
                </div>

                <p class="text-left">Bootstrap - 65%</p>
                <div class="progress mb-5">
                    <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0"
                        aria-valuemax="100" style="width: 65%"></div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Hire Me -->
<div class="hire-me" id="hire-me">
    
    <div class="container">
        <div class="row my-4 cta-content">

            <div class="col-twelve section-ads">

                <h1 class="h01">HIRE ME?</h1>
                <p>Looking for an awesome and reliable software solutions? Try <a><span>Yash Tank (Me)</span></a>.</p>
                <a class="button button-primary large" routerLink="/contact">Contact Now!</a>

            </div>
        </div>
    </div>
</div>