<!-- Hero -->
<div class="hero">
    <div class="container">
        <h1>Yash Tank</h1>
        <h2>Passionate <span>Software Developer</span> elevating the future horizon.</h2>
    </div>
</div>

<!-- Introduction -->
<div class="introduction" id="introduction">

    <div class="container">
        <div class="row my-4" id="education">
            <master-titles title-shadow="Introducing My Self" title-over="About Me"></master-titles>
        </div>
    </div>
    <div class="container">
        <div class="row my-4" id="about-me">
            <div class="col-md-4">
                <embed src="../../assets/imaages/20603157_6334180.svg" class="svg-embed" type="image/svg+xml">
            </div>
            <div class="col-md-8 intro-text">
                <p class="h5">
                    "Crafting User-Friendly Software Solutions That Empowers Businesses"
                </p>

                <p class="">
                    I'm a passionate and results-oriented Software Engineer with a knack for crafting user-friendly
                    software solutions. My expertise lies in designing, developing, and deploying scalable, secure, and
                    robust enterprise applications.</p>

                <p class="">Fueled by a strong foundation in Java, Spring Boot, Angular and fronte-end technologies
                    (HTML, CSS, JavaScript) leverage my skills to build robust web applications and APIs that creates
                    semless user experiences across various devices. Beyond technical powers, I prioritize collabrative
                    work with cross-functional teams has equipped me to communicate ideas, troubleshoot challenges that
                    derives growth.</p>

                <p class="">I'm eager to leverage my skills and global mindset to contribute to a dynamic team that
                    values innovation and impactful results.</p>
            </div>
        </div>
    </div>

</div>

<!-- What I do? -->
<div class="services" id="myServices">
    <div class="container">
        <div class="row my-4" id="education">
            <master-titles title-shadow="Actual Working" title-over="What I do?"></master-titles>
        </div>
    </div>
    <div class="service-body">
        <div class="container">
            <div class="row my-4">
                <div class="col-lg-4 col-md-6 mb-4 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-database-fill-gear"></i></div>
                    <h4 class="title"><span>Development</span></h4>
                    <p class="description">From ideation to deployment, crafting innovative ideas into fruitful software
                        solutions through robust and scalable code tailored to your business needs.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 icon-box">
                    <div class="icon"><i class="bi bi-file-earmark-code"></i></div>
                    <h4 class="title"><span>Web Designing</span></h4>
                    <p class="description">Let me design a digital masterpiece that captivates your audience and
                        elevates your brand's online presence with intuitive UX and visually stunning UI.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 icon-box">
                    <div class="icon"><i class="bi bi-box-fill"></i></div>
                    <h4 class="title"><span>Technical Consulting</span></h4>
                    <p class="description">Unlock your organization's potential with my technical expertise, offers
                        strategic guidance and innovative solutions to drive growth and stay ahead of the curve.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- My Skills -->
<div class="skills" id="skills">

    <div class="container">
        <div class="row my-4" id="education">
            <master-titles title-shadow="Quality" title-over="Skills"></master-titles>
        </div>
    </div>

    <!-- Skills -->
    <div class="container">
        <div class="row my-4">
            <div class="my-auto">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col-md-10 mx-auto">
                        <div class="row text-center">
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-java-plain icons-decoration colored" data-bs-toggle="tooltip" data-bs-placement="top" title="Java"></i>
                                <div>Java</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-azuresqldatabase-plain icons-decoration colored" title="SQL"></i>
                                <div>SQL</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-spring-original icons-decoration colored" title="Spring"></i>
                                <div>Spring</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-angularjs-plain icons-decoration colored" title="AngularJS"></i>
                                <div>Angular</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-html5-plain icons-decoration colored" title="HTML5"></i>
                                <div>HTML5</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-css3-plain icons-decoration colored" title="CSS3"></i>
                                <div>CSS3</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-javascript-plain icons-decoration colored" title="JavaScript"></i>
                                <div>JavaScript</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-jquery-plain icons-decoration colored" title="jQuery"></i>
                                <div>jQuery</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-bootstrap-plain icons-decoration colored" title="Bootstrap 4"></i>
                                <div>Bootstrap 4</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-vscode-plain icons-decoration colored" title="VS Code"></i>
                                <div>VS Code</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-intellij-plain icons-decoration colored" title="Intellij"></i>
                                <div>Intellij</div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                                <i class="devicon-github-plain icons-decoration colored" title="Github"></i>
                                <div>Github</div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>

</div>

<!-- Hire Me -->
<div class="hire-me" id="hire-me">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-12">
                <h1 class="h01">HIRE ME?</h1>
                <p>Looking for an awesome and reliable software solutions? Try <strong>Yash Tank (Me)</strong>.</p>
                <a class="button button-primary large" routerLink="/contact">Contact Now!</a>
            </div>
        </div>
    </div>
</div>