<!-- Hero -->
<div class="hero">
    <div class="container">
        <h1>Yash Tank</h1>
        <h2>Passionate <span>Software Developer</span> elevating the future horizon.</h2>
    </div>
</div>

<!-- Introduction -->
<div class="container short-intro">

    <div class="row my-4" id="about-me">
        <master-titles title-shadow="Introducing My Self" title-over="About Me"></master-titles>
        <div class="col-md-4">
            <embed src="../../assets/imaages/20603157_6334180.svg" class="svg-embed" type="image/svg+xml">
        </div>
        <div class="col-md-8 intro-text">
            <p class="card-text">A self-driven Java Full-Stack Engineer, I weave code into solutions that elevate user
                experiences and empower businesses.
                With 6 months of hands-on expertise, I navigate the tech landscape with a passion for Microservices,
                Spring Boot, and data-driven insights.</p>
        </div>
    </div>

</div>

<!-- What I do? -->
<div class="my-services" id="myServices">
    <div class="container">
        <div class="row my-4" id="education">
            <master-titles title-shadow="Actual Working" title-over="What I do?"></master-titles>
        </div>
    </div>
    <div class="service-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-database-fill-gear"></i></div>
                    <h4 class="title"><span>Web Development</span></h4>
                    <p class="description">Full-stack Java development with Spring-boot MVC, REST APIs and Microservices Architecture, Java Automation and Multi Threading.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-file-earmark-code"></i></div>
                    <h4 class="title"><span>Web Designing</span></h4>
                    <p class="description">Desing web applicaiton user friendly with AngularJS, HTML/CSS and SEO (Search Engine Optimization).</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-box-fill"></i></div>
                    <h4 class="title"><span>Technical Consulting</span></h4>
                    <p class="description">Consulting for any of the tech related queries and suggetions.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="skills" id="skills">

        <div class="container">
            <div class="row my-4" id="education">
                <master-titles title-shadow="Quality" title-over="Skills"></master-titles>
            </div>
        </div>
        <!-- Skills -->
        <div class="row my-4" id="education">
            <div class="row">
                
            </div>
        </div>

    </div>