<!-- Hero -->
<div class="hero">
    <div class="container">
        <h1>Achievements</h1>
    </div>
</div>

<!-- Short Intro -->
<div class="container short-intro">

    <div class="row my-4" id="experiences">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white">productivity</h1>
            <h1 class="position-absolute text-uppercase">Achievements</h1>
        </div>
        <div class="row my-4 d-flex justify-content-between">
            <div class="card mb-4 achievements-card">
                <img src="../../assets/imaages/achievements/DJ4E-VT9DWX8CEP4Y.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Python for Everybody Specialization on Coursera by University of Michigan 2023 [5ZHG2JG4V535]</p>
                </div>
            </div>
            <div class="card mb-4 achievements-card">
                <img src="../../assets/imaages/achievements/62T76L8JN4AY-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mb-4 achievements-card">
                <img src="../../assets/imaages/achievements/DJ4E-VT9DWX8CEP4Y.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

</div>